services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile # Tells Docker exactly where the file is
    volumes:
      - .:/var/www
  nginx:
    image: nginx:alpine
    ports:
      - "8000:80"
    volumes:
    - .:/var/www
    - ./docker/nginx/conf.d/nginx.conf:/etc/nginx/conf.d/default.conf
  db:
    image: mysql:8.0
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
volumes:
  db_data:
